.jumbotron {
  background-color: #fffa19;
  color: black; }

.info-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px; }

img {
  margin: 5px; }

.card-hotel {
  border: 1px;
  justify-content: space-between; }

footer {
  background-color: #fffa19;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px; }

.redes-sociales {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 10px; }

address {
  display: flex;
  flex-direction: column;
  padding: 5px; }

.extra {
  display: flex;
  flex-direction: column;
  text-transform: bold;
  padding: 5px 10px 5px 5px; }

.bar-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 0px; }

.card-icon {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 0px; }

#boton-envio {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 0px; }

.btn-block {
  margin-top: 0px;
  margin-bottom: 20x;
  margin-right: 0px;
  margin-left: 0px; }

.table-responsive {
  text-align: center; }

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity ease-out .7s;
  height: 500px; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1; }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0; }

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0); }
