$yellow: #fffa19;

@mixin margenes($top, $bottom, $right, $left){
    margin-top: $top;
    margin-bottom: $bottom;
    margin-right: $right;
    margin-left: $left;
}

	.jumbotron {
		background-color: $yellow;
		color: rgb(9, 9, 9);
	}

	.info-top {
		display:flex;
		flex-wrap: wrap;
        flex-direction: row;
        @include margenes(15px, 0px,0px, 0px);
	}
img {
	margin: 5px;
}
	.card-hotel {
		border: 1px;
		justify-content: space-between;
	}

footer {
	background-color: $yellow;
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
	@include margenes(3px, 3px, 3px, 3px);
}

	.redes-sociales {
		display: flex;
		flex-direction: column;
		padding: 5px 5px 5px 10px;
	}

address {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

	.extra {
		display: flex;
		flex-direction: column;
		text-transform: bold;
		padding: 5px 10px 5px 5px;
	}

.bar-icon {
	@include margenes(0px, 0px, 10px, 0px);
}
.card-icon {
	@include margenes(0px, 0px, 5px, 0px);
}
#boton-envio {
	@include margenes(10px, 10px, 10px, 0px);
}
.btn-block {
	@include margenes(0px, 20x, 0px, 0px);
}
.table-responsive {
	text-align: center;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity ease-out .7s;
  height: 500px;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}